/* Extra small devices (phones) */
@media screen and (max-width: 600px) {
  nav{
    grid-template-columns: 40% 30% 30%;
  }

  .nav-link{
    width: 90%;
  }

  .nav-text{
    font-size: 12pt;
  }
}

/* Small devices (portrait tablets and large phones) */
@media screen and (min-width: 600px) {
  nav{
    grid-template-columns: 40% 30% 30%;
  }

  .nav-link{
    width: 90%;
  }

  .nav-text{
    font-size: 15pt;
  }
}

/* Medium devices (landscape tablets) */
@media screen and (min-width: 768px) {
  nav{
    grid-template-columns: 40% 30% 30%;
  }

  .nav-link{
    width: 90%;
  }

  .nav-text{
    font-size: 15pt;
  }
}

/* Large devices (laptops/desktops) */
@media screen and (min-width: 992px) {
  nav{
    grid-template-columns: 50% 25% 25%;
  }

  .nav-link{
    width: 90%;
  }

  .nav-text{
    font-size: 20pt;
  }
}

/* Extra large devices (large laptops and desktops) */
@media screen and (min-width: 1200px) {
  nav{
    grid-template-columns: 50% 25% 25%;
  }

  .nav-link{
    width: 70%;
  }

  .nav-text{
    font-size: 20pt;
  }
}

body{
  margin: 0;
  padding: 0;
}

main{
display: grid;
place-items: center;
min-height: calc(100vh - 50px);
}

nav{
  background-color: #1e1e1e;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  height: 50px;
  display: grid;
  /* grid-template-columns: 50% 25% 25%; */
  justify-items: center;
  align-items: end;
}
.nav-actual{
  background-color: #1e1e1e;
  color: white;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link{
  /* width: 70%; */
  background-color: #761874;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-bottom: 4px;
  text-decoration: none;
}
.nav-link:hover{
  transition: 0.1s;
  padding-bottom: 0px;
  border-bottom: 4px solid red;
  color: red;
  background-color: black;
}


.nav-text{
  /* font-size: 20pt; */
  text-decoration: none;
  text-align: center;
}

.container{
text-align: center;
}

.h2{
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 24px;
}

#btn{
  /* margin: auto; */
  background-color: #1e1e1e;
  color: white;
  font-size: large;
  padding: 10px;
  border: none;
  border-radius: 24px;
  transition: 0.1s;
  border: solid white;
}

#btn:hover{
    transition: 0.25s;
    background-color: transparent;
    text-shadow: black 1px 0 1px;
    border: solid white;
  }
